<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Hello, world!</h1>

            <form>
                <div class="form-group">
                    <div class="fileupload__success" data-file-upload-valid>
                        <input type="reset" class="btn btn-link" value="Feld zurücksetzen" data-file-upload-reset>
                        <p>
                            {{> atoms-label(label.text: 'Ihre Datei:' }} <span data-file-upload-name></span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputFile">
                        <a class="link-with-icon green-link fileupload__link"><span>{{ type }} Datei hochladen</span> <i class="icon-upload" data-grunticon-embed=""></i></a>
                    </label>
                    <input type="file" id="file-upload" data-file-upload-input="{{ type }}">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                
                <div class="form-group">
                    <div class="gr-12 fileupload__error" data-file-upload-error>
                        {{> molecules-forms-error-area }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="js/file-upload.js"></script>
</body>
</html>
